# Mobile App for Lottery Addiction

---
## Introduction

Many people start playing the lottery for fun, but for some this activity turns into a habit which eventually escalates into addiction. Like other compulsive gamblers, lottery addicts soon begin spending from their savings and loans, they start to accumulate debts, and eventually engage in desperate behaviors like theft.

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

For the first version of the app, they want us to focus on the 6/49 lottery and build functions that enable users to answer questions like:

* What is the probability of winning the big prize with a single ticket?
* What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
* What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

The institute also wants us to consider historical data coming from the national 6/49 lottery game in Canada. The data set has data for 3,665 drawings, dating from 1982 to 2018

---

## Basics functions to compute probabilities

In [1]:
def factorial(n):
    result=1
    for i in range(1,n+1):
        result*=i
    return result

def combinations(k,n):
    result=(factorial(n)/(factorial(k)*factorial(n-k)))
    return result

In [2]:
def one_ticket_probability(ticket):
    nb_outcome=combinations(6,49)
    nb_succesfull_outcome=1
    result=(nb_succesfull_outcome/nb_outcome)*100
    print('{:.7f}% chances to earn the big price, it is the same as saying 1 in {} chances'.format(result,int(nb_outcome)))

Let's test our fonction to see if it works properly:

In [3]:
ticket_1=[23,4,7,47,32,22]
one_ticket_probability(ticket_1)

0.0000072% chances to earn the big price, it is the same as saying 1 in 13983816 chances

We can see that if someone play one time, he has 0.0000072% chances of winning the big price which is near impossible

Let's compare this probabilties to the real data:

In [4]:
import pandas as pd
data=pd.read_csv('649.csv')
print(data.shape)

(3665, 11)

In [5]:
data.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [6]:
data.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [7]:
def extract_numbers(row):
    liste=[]
    for i in range(6):
        liste.append(row[i+4])
    return liste

In [8]:
winning_numbers=data.apply(extract_numbers,axis=1)
winning_numbers.head()

0    [3, 11, 12, 14, 41, 43]
1    [8, 33, 36, 37, 39, 41]
2     [1, 6, 23, 24, 27, 39]
3     [3, 9, 10, 13, 20, 43]
4    [5, 14, 21, 31, 34, 47]
dtype: object

In [9]:
def check_historical_occurence(user_number,winning_numbers=winning_numbers):
    count=0
    for elem in winning_numbers:
        if elem==user_number:
            count+=1
    if count==0:
        print("Base on previous data, with the number {} you wouldn't have won even once." .format(user_number))
    else:
        print("Base on previous data, with the number {} you would have won {} time. But still you have a chance of 0.0000072% chance of winning" .format(user_number,count))
        
check_historical_occurence([1,6,23,24,27,39])

Base on previous data, with the number [1, 6, 23, 24, 27, 39] you would have won 1 time. But still you have a chance of 0.0000072% chance of winning

In [10]:
def multi_ticket_probability(n):
    nb_outcomes=combinations(6,49)
    probability_win=(n/nb_outcomes)*100
    print('If you play {} times, you will have a {}% chances of winning'.format(n,probability_win))

In [11]:
numbers_of_tries=[1, 10, 100, 10000, 1000000, 6991908, 13983816]

for i in numbers_of_tries:
    print(multi_ticket_probability(i))
    print('\n')

If you play 1 times, you will have a 7.151123842018516e-06% chances of winning
None


If you play 10 times, you will have a 7.151123842018517e-05% chances of winning
None


If you play 100 times, you will have a 0.0007151123842018516% chances of winning
None


If you play 10000 times, you will have a 0.07151123842018516% chances of winning
None


If you play 1000000 times, you will have a 7.151123842018517% chances of winning
None


If you play 6991908 times, you will have a 50.0% chances of winning
None


If you play 13983816 times, you will have a 100.0% chances of winning
None

Even if the player try 1000 times, he will only have 0.0007% chances of winning

In [12]:
def probability_less_6(n_winning_numbers):
    n_combinations_ticket = combinations(n_winning_numbers,6)
    n_combinations_remaining = combinations(6 - n_winning_numbers,43)
    successful_outcomes = n_combinations_ticket * n_combinations_remaining
    total_bn_outcome=combinations(6,49)
    proba=(successful_outcomes/total_bn_outcome)*100
    print('If you chose to have only {} good numbers you have a chance of {:.7f}% to win'.format(n_winning_numbers,proba))

In [13]:
probability_less_6(2)

If you chose to have only 2 good numbers you have a chance of 13.2378029% to win